body{
    padding: none;
    margin: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
}
.container-fluid{
    background-color: rgba(67, 197, 34, 0.548);
}
footer{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(67, 197, 34, 0.863);
}
a{
    color: #ffff;
}
.headi{
    padding-top: 10px;
}
#formulario{
    font-weight: bolder;
    margin-top: 100px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: 300px;
    width: 300px;
    background-color: rgba(36, 173, 144, 0.61);
    text-align: center;
}
.inp{
    background-color: rgba(202, 224, 220, 0.568);
    padding: 2px;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 200px;
    margin: 3px;
    padding-left: 10px;
}
.bto{
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 210px;
    margin: 3px;
    padding-left: 10px;
}
.bto:hover{
    cursor: pointer;
    background-color: rgba(250, 217, 174, 0.753);
}